<div class="affiche-block row">
  <div class="col-md-5 shadow-sm">
    <div style="display: flex;">
        <i style="color: green;" class='bx bxs-certification'></i>
      <span> en stock</span> <br> <br> <br>
    </div>
    <h3>Améliorez votre <br> technologie</h3><br>
    <p style="color: grey;">Trouvez votre téléphone idéal <br>élégant et élégant ou économique</p>
  <br> <br>
  <button type="button" class="btn btn-primary">Afficher</button>

</div>
  <div class="col-md-3 watch shadow-sm">
    <br>
    <p style="margin-left: 10px;">Montre connectée</p>
  </div>
  <div class="col-md-3">
    <div class="top shadow-sm">
        <br> <br> <br> <br> <br> <br> <br> <br>
      <p>Pc et accessoires</p>
    </div>
    <div class="bottom shadow-sm">
        <br> <br> <br> <br><br> <br> <br> <br>
      <p>Mode femme</p>
    </div>
  </div>
</div>