<div id="burger-nav" class="burger-nav">
    <i onclick="icon_x()" id="x" style="margin-left: 85%; margin-top: 8px; font-size: 3rem;" class='bx bx-x'></i>
    <div id="menu-link">
        <div id="affiche">
            <p><strong>PROMO : -20 %</strong><br> EN PLUS
            <br><strong>UTILISE LE CODE :</strong><br>
                SZNL</p>
        </div> <br>
        <div id="accueil-link" onclick="accueil()">
            <p>Accueil</p>        
        </div> <br>
        <div id="vetements-link" onclick="habits()">
            <p>vetements</p>
            <img src="/img/mode.jpg" width="60px" alt="">
        
        </div> <br>
        <div id="phone-link" onclick="phone()">
            <p>telephone & pc</p>
            <img src="/img/phone.jpg" width="60px" alt="">
        
        </div> <br>
        <div id="frigo-link" onclick="frigo()">
            <p>electro-menager</p>
            <img src="/img/frigo.jpg" width="60px" alt="">
        
        </div><br>
        <div id="maison-link" onclick="maison()">
            <p>maison</p>
            <img src="/img/canaper.jpg" width="60px" alt="">
        </div>
        <br> <br> <br> <br>
        <br> <br> <br> <br>
    </div>
</div>