<h3 style="text-align: start; margin-left: 10px;">Telephone & Accessoires</h3>
<div class="deux-card-container">
        <div class="carte shadow-sm">
            <img src="/img/phone.jpg" width="100px" alt="Nom de l'article">
            <br>
            <p style="text-align: start;">Iphone 12 simple</br>-
                <span>Rouge 250G.</span>
            <div class="prix">
                <span class="prix-actuel" style="color: #A60303; font-weight: bolder; font-size: 1.2rem;">250.999
                    CFA</span>
            </div>
            <button>Ajouter</button>
        </div>
        <div class="carte shadow-sm">
            <img src="/img/airpod.jpg" width="100px" alt="Nom de l'article">
            <br><br>
            <p style="text-align: start;">Iphone 12 simple</br>-
                <span>Rouge 250G.</span>
            <div class="prix">
                <span class="prix-actuel" style="color: #A60303; font-weight: bolder; font-size: 1.2rem;">250.999
                    CFA</span>
            </div>
            <button>Ajouter</button>
        </div>
</div>