<h3 style="text-align: start; margin-left: 10px;">Les offres du moments</h3>
<div class="deux-card-container">
        <div class="carte shadow-sm">
            <img src="/img/phone.jpg" width="55px" alt="Nom de l'article">
            <br>
            <p style="text-align: center; font-size: 0.9rem;">Iphone 12 simple</br>-
                <span>Rouge 250G.</span>
            <div class="prix">
                <span class="prix-actuel" style="color: #293847; font-weight: bolder; font-size: 0.9rem;">250.999
                    CFA</span>
            </div>
            <button>Ajouter</button>
        </div>
        <div class="carte shadow-sm">
            <img src="/img/airpod.jpg" width="55px" alt="Nom de l'article">
            <br>
            <p style="text-align: center;font-size: 0.9rem ">Air pods</br>-
                <span>Derniere generation</span>
            <div class="prix">
                <span class="prix-actuel" style="color: #293847; font-weight: bolder; font-size: 0.9rem;">150.999
                    CFA</span>
            </div>
            <button>Ajouter</button>
        </div>
</div>
<div class="deux-card-container">
        <div class="carte shadow-sm">
            <img src="/img/phone.jpg" width="55px" alt="Nom de l'article">
            <br>
            <p style="text-align: center; font-size: 0.9rem">Iphone 12 simple</br>-
                <span>Rouge 250G.</span>
            <div class="prix">
                <span class="prix-actuel" style="color: #293847; font-weight: bolder; font-size: 0.9rem;">250.999
                    CFA</span>
            </div>
            <button>Ajouter</button>
        </div>
        <div class="carte shadow-sm">
            <img src="/img/airpod.jpg" width="55px" alt="Nom de l'article">
            <br>
            <p style="text-align: center; font-size: 0.9rem">Air pods</br>-
                <span>Derniere generation</span>
            <div class="prix">
                <span class="prix-actuel" style="color: #293847; font-weight: bolder; font-size: 0.9rem;">150.999
                    CFA</span>
            </div>
            <button>Ajouter</button>
        </div>
</div>
<br> <br>