<div class="grosse-card-container ">
    <div class="img-box shadow-sm">
        <img src="/img/samsung.jpeg" width="99%" alt="">
        <i style="position: absolute; right: 10px; z-index: 3; color: rgb(23, 195, 23); font-size: 3rem;" class='bx bxs-cart-add'></i>
    </div>
    <div class="details">
        <p><strong>Samsung galaxy S3</strong> </p>
        <div class="start-box d-flex">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half' ></i>
        </div>
        <span style="color: #A60303;">200.000 CFA</span> <span style="text-decoration: line-through; font-size: 0.9rem;">230.000 CFA</span>
    </div>
</div>