<div class="menu-list">
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Telephones
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Iphone</a></li>
        <li><a class="dropdown-item" href="#">Samsung</a></li>
        <li><a class="dropdown-item" href="#">Itel</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Pc
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Dell</a></li>
        <li><a class="dropdown-item" href="#">Hp</a></li>
        <li><a class="dropdown-item" href="#">Macbook</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Mode femme
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Outfit</a></li>
        <li><a class="dropdown-item" href="#">Sac</a></li>
        <li><a class="dropdown-item" href="#">Chaussures</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Mode homme
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Outfit</a></li>
        <li><a class="dropdown-item" href="#">Sac</a></li>
        <li><a class="dropdown-item" href="#">Chaussures</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Bijoux & Montres
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Chaine</a></li>
        <li><a class="dropdown-item" href="#">Montres connecter</a></li>
        <li><a class="dropdown-item" href="#">Montres</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Chicha store
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Arome</a></li>
        <li><a class="dropdown-item" href="#">Chicha</a></li>
        <li><a class="dropdown-item" href="#">Charbon</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Electro-menager
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Frigo</a></li>
        <li><a class="dropdown-item" href="#">Grille-pain</a></li>
        <li><a class="dropdown-item" href="#">Itel</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Meuble & deco
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Canaper</a></li>
        <li><a class="dropdown-item" href="#">Bibliotheque</a></li>
        <li><a class="dropdown-item" href="#">Tableau</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Beauter
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Canaper</a></li>
        <li><a class="dropdown-item" href="#">Bibliotheque</a></li>
        <li><a class="dropdown-item" href="#">Tableau</a></li>
      </ul>
    </div>
</div>