<div class="nav-desk">
  <h4 onclick="accueil()" style="cursor: pointer;"><strong>LafyShop</strong></h4>
  <input class="input" name="text" type="text" placeholder="Search the internet...">

  <label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>
  <i onclick="panier()" class='bx bxs-shopping-bag-alt' style="font-size: 2.2rem; cursor: pointer;"></i>

</div>