<nav>
    <div class="nav-left">
        <i onclick="menu()" id="bx-menu" class='bx bx-menu'></i>
        <h3>LafyShop</h3>
    </div>
    <div class="nav-right">
        <i id="bx-search" class='bx bx-search'></i>
        <div class="bar-vertical"></div>
        <i class='bx bxs-shopping-bag-alt'></i>
    </div>
</nav>