<div class="offre-special shadow-sm">
    <div class="offre-img">
        <img src="/img/sac-a-main.jpg" alt="">
    </div>
    <div class="details">
        <p><strong>Sac a main</strong></br>
        <span>details ici</span></p>
        <div class="etoils d-flex">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
        </div>
        <br> <br>
        <h6 style="text-decoration: line-through;">80.000 CFA</h6>
        <h4>50.000 CFA</h4>
    </div>
    <i class='bx bxs-cart-add'></i>
</div> <br>
<div class="offre-special shadow-sm">
    <div class="offre-img">
        <img src="/img/fleur.jpg" alt="">
    </div>
    <div class="details">
        <p><strong>Pot de fleur</strong></br>
        <span>details ici</span></p>
        <div class="etoils d-flex">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half' ></i>           
        </div>
        <br> <br>
        <h6 style="text-decoration: line-through;">20.000 CFA</h6>
        <h4>10.000 CFA</h4>
    </div>
    <i class='bx bxs-cart-add'></i>
</div> <br>
<div class="offre-special shadow-sm">
    <div class="offre-img">
        <img src="/img/lit.jpg" alt="">
    </div>
    <div class="details">
        <p><strong>Lit</strong></br>
        <span>details ici</span></p>
        <div class="etoils d-flex">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half' ></i>           
        </div>
        <br> <br>
        <h6 style="text-decoration: line-through;">200.000 CFA</h6>
        <h4>150.000 CFA</h4>
    </div>
    <i class='bx bxs-cart-add'></i>

</div> <br>
<div class="offre-special shadow-sm">
    <div class="offre-img">
        <img src="/img/lampe.jpg" alt="">
    </div>
    <div class="details">
        <p><strong>Lampe</strong></br>
        <span>details ici</span></p>
        <div class="etoils d-flex">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half' ></i>           
        </div>
        <br> <br>
        <h6 style="text-decoration: line-through;">23.000 CFA</h6>
        <h4>18.000 CFA</h4>
    </div>
    <i class='bx bxs-cart-add'></i>

</div>