<div class="nav-bar">
    <a class="btn btn-outline-secondary" href="/">Accueil</a>
    <a  class="btn btn-outline-secondary" href="/">Vetements</a>
    <a  class="btn btn-outline-secondary" href="/">Maison</a>
    <a  class="btn btn-outline-secondary" href="/">Telephonie</a>
    <a  class="btn btn-outline-secondary" href="/">Electro-menager</a>
</div>
