  @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 /* la navigation ici  */


body nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 9px;
    color: white;
    background-color: #A60303;
    /* background-color: rgb(54, 53, 53); */
    position: fixed; 
    z-index: 5; 
    top: 0;         
    left: 0;         
    width: 100%;    
}
nav i{
    font-size: 2rem;
}
nav .bar-vertical{
    height: 30px;
    border: 1px solid;
    color: rgba(128, 128, 128, 0.294);
    margin-left: 5px;
    margin-right: 5px;
}
nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70px;
    margin-right: 5px;
}
nav .nav-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;

}
nav #bx-search{
    display: none;
  }


 /* la navigation ici  */

 /* burger menu ici  */
 body .burger-nav {
    max-height: 100vh; /* Par exemple, définissez une hauteur maximale */
    background-color: white;
    position: absolute;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s ease-in-out;
    overflow-y: auto; /* Permet le défilement vertical lorsque le contenu dépasse la hauteur maximale */
  }

  
 .burger-nav #menu-link{
    display: none;
    padding: 10px;
 }

 .burger-nav #affiche {
    background-image: linear-gradient(to left, rgb(166, 255, 0), rgb(29, 222, 141));
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    height: 100px;
 }
 .burger-nav #accueil-link{

   background-color: #efedec;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 600;
   text-transform: uppercase;
   padding: 5px;
   font-size: 1.2rem !important;
   height: 80px;
 }
 .burger-nav #vetements-link{
    
    background-color: #efedec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
    height: 80px;
 }
 .burger-nav #frigo-link{
    
    background-color: #efedec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
    height: 80px;
 }
 .burger-nav #phone-link{
    
    background-color: #efedec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
    height: 80px;
 }
 .burger-nav #maison-link{
    
    background-color: #efedec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px;
    height: 80px;
 }

 /* burger menu ici  */

 /* la promo ici  */
body .promo {
    margin-top: 73px;
    background-image: linear-gradient(to left, rgb(166, 255, 0), rgb(29, 222, 141));
    padding: 10px 0px 10px 0px;
    font-weight: bolder;
    font-size: 0.9rem;
    text-align: center;
    color: white;
}
 /* la promo ici  */

 /* la nav bar ici  */
 body .nav-bar {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   row-gap: 10px;
   column-gap: 5px;
   margin-top: 5px;
   list-style: none;
   padding: 5px;
   font-size: 0.9rem !important;
   margin-bottom: 20px;
 }
 .nav-bar a{
   text-decoration: none;
   color: #1c1b1b;
   margin: 0%;

 }


 /* la nav bar ici  */

/* slider ici  */
.slider-container {
   width: 100%;
   overflow: hidden;
}

.slider {
   display: flex;
   transition: transform 0.5s ease-in-out;
   width: 99%;
   overflow-x: scroll;
   white-space: nowrap;
}

.article-carte {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 0 0 20%;
   padding: 10px;
   box-sizing: border-box;
   text-align: center;
   width: 250px; /* 4 est le nombre d'éléments .article-carte par ligne */
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.article-carte img {
   width: 100%;
   height: auto;
}

.prix {
   margin-top: 10px;
}

.prix-actuel {
   font-weight: bold;
   font-size: 1.2rem;
   color: #A60303;
}


.article-carte button {
   display: inline-block;
   margin: 15px;
   padding: 15px;
   width: 100%;
   text-align: center;
   font-size: 1rem;
   letter-spacing: 1px;
   text-decoration: none;
   color: #11c81d;
   background: transparent;
   cursor: pointer;
   transition: ease-out 0.5s;
   border: 1px solid #11c81d;
   border-radius: 10px;
   box-shadow: inset 0 0 0 0 #11c81d;
 }
 
 .article-carte button:hover {
   color: white;
   box-shadow: inset 0 -100px 0 0 #11c81d;
 }
 
 .article-carte button:active {
   transform: scale(0.9);
 }

 .article-carte img {
   margin-top: 10px;
   width: 100px;
   height: 150px;
}

/* slider ici  */

 /* les cartes  */
 .row{
    margin-top: 20px;
 }
 .row .carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .row .carte img{
    height: 210px;
    width: 130px;
 }
 /* les cartes  */

 /* APP pub ici */
 body .app-pub {
    margin-top: 100px;
    background: repeating-linear-gradient(60deg, transparent 30px, rgba(230, 43, 217, 0.2) 10px,rgba(242, 35, 187, 0.2) 90px),
    repeating-linear-gradient(120deg, transparent 30px, rgba(233, 21, 226, 0.2) 10px,rgba(255, 0, 195, 0.2)90px),
    repeating-linear-gradient(180deg, transparent 30px, rgba(178, 11, 158, 0.2) 10px, rgba(255, 0, 238, 0.2) 90px);
    /* background-image: linear-gradient(to left, rgb(193, 51, 222), rgb(206, 39, 201)); */
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
 }
 .app-pub button{
    color: white;
    font-size: 0.9rem;
    padding: 5px;
    width: 160px;
    margin-top: 5px;
    border-radius: 9999px;
    border: 2.3px solid white;
    background-color: transparent;
    font-weight: bolder;
 }
 .app-pub input{
    width: 250px;
    color: black;
    background-color: white;
    border-radius: 9999px;
    border: none;
    font-weight: bolder;
    height: 40px;
 }
 /* APP pub ici */

 /* mark disposition  */
 .containe {
    margin-bottom: 150px;
 }
 
 .containe .mark-row{
    padding-left: 70px;
    width: 100%;
    display: flex ;
    justify-content: space-between;
 }
 /* mark disposition  */

 /* footer here  */
 body footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    background-color: rgba(90, 84, 74, 0.18);
    height: 50px;
    padding: 15px;
 }
 /* footer here  */
